.trophy-icon{
    width: 15px;
  }
  .trophy-text{
    color: black;
    padding-bottom: 2px;
    margin-left: 2px;
  }
  .trophy-badge{
    margin-left: 12px;
    background-color:#47A0A4;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
  }
  a {
    
    color: black;
  }

  