<ion-menu menuId="main-menu" contentId="main" side="end">

  <ion-content class="side-menu-content ion-padding no-scroll">
   <div><ion-icon size="small" name="arrow-forward-outline"></ion-icon></div>
    <div class="student-icon-background">
      <img class="student-icon" src="../../assets/icon/student-icon.png">
    </div>
    <p class="name">Rahul</p>
    <p class="teacher">TEACHER</p>
    <div class="grid-container">


      <ion-grid >
        <ion-row class="ion-align-items-center template-row total-points">
          <ion-col size="2">
            <ion-icon size="large" class="template-icon" name="trophy-outline"></ion-icon>
          </ion-col>
          <ion-col size="auto">
            <ion-row class="bold-text"> 0</ion-row>
            <ion-row class="small-text">Total points earned</ion-row>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class="ion-align-items-center template-row badge-earned">
          <ion-col size="2">
            <ion-icon size="large" class="template-icon" name="diamond-outline"></ion-icon>
          </ion-col>
          <ion-col size="auto">
            <ion-row class="bold-text"> 0</ion-row>
            <ion-row class="small-text">Badge earned</ion-row>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class="ion-align-items-center template-row coming-soon">
          <ion-col size="2">

            <ion-icon size="large" class="template-icon" name="tv-outline"></ion-icon>
          </ion-col>
          <ion-col size="auto">
            <ion-row class="bold-text"> Coming soon</ion-row>
            <ion-row class="small-text">Lessons completed</ion-row>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class="ion-align-items-center template-row cs-course">
          <ion-col size="2">
            <ion-icon size="large" class="template-icon" name="book-outline"></ion-icon>
          </ion-col>
          <ion-col size="auto">

            <ion-row class="course-for-teacher bold-text">CS courses for Teacher</ion-row>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <h1>Programming Labs</h1>
    <div class="template-2">
      <ion-grid >
        <ion-row class="ion-align-items-center open-lab">
          <ion-col size="2">
            <div class="background code-icon-background">
              <ion-icon class="open-lab-icon" name="code-slash-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="8">
            <ion-row ><div class="ion-text-center ion-margin-start">Open Lab</div> </ion-row>
          </ion-col>
          <ion-col size="1">
            <ion-icon  class="open-lab-icon-arror"  name="chevron-forward-outline"></ion-icon>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>

        <ion-row class=" ion-align-items-center hour-of-code">
          <ion-col size="2">
            <div class="background hour-of-code--background">
              <ion-icon class="hour-of-code-icon" name="hourglass-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="8">
            <ion-row ><div class="ion-text-center ion-margin-start">Hour of code</div> </ion-row>
          </ion-col>
          <ion-col size="1">
            <ion-icon  class="hour-of-code-icon-arror"  name="chevron-forward-outline"></ion-icon>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
    
  </ion-content>
</ion-menu>